<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flowered.App.Standalone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Flowered.App.Standalone.Properties.Settings>
            <setting name="Initialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value />
            </setting>
            <setting name="SnapshotInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>7200</value>
            </setting>
            <setting name="FullscreenMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimumFreeSpaceMb" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Interactive" serializeAs="String">
                <value>False</value>
            </setting>
        </Flowered.App.Standalone.Properties.Settings>
    </userSettings>
</configuration>